---
layout: default
title: Projects by year
---
<h1>Projects</h1>
{% capture years %}
    {% for year in site.years %}
        {{ year.tag }}
    {% endfor %}
{% endcapture %}
{% assign sortedyears = years | split:' ' | sort %}

{% for year in sortedyears %}
    <h2 id="{{ year }}">{{ year }}</h2>
    <ul>
    {% for project in site.projects %}
      {% if project.year == year %}
        <li><a href="{{ project.url }}">{{ project.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
{% endfor %}
